<div class="az-header">
  <div class="container">
    <div class="az-header-left">
      <a routerLink="/" class="az-logo"><span></span> fasten</a>
    </div><!-- az-header-left -->
    <div class="az-header-menu">
      <div class="az-header-menu-header">
        <a routerLink="/" class="az-logo"><span></span> fasten</a>
      </div><!-- az-header-menu-header -->
      <ul class="nav">

        <li class="nav-item" ngbDropdown [ngClass]="{ 'active': dashboard.isActive }">
          <a routerLink="/dashboard" routerLinkActive="active" #dashboard="routerLinkActive" class="nav-link"><fa-icon [icon]="['fas', 'table-columns']"></fa-icon>&nbsp; Dashboard</a>
        </li>
        <li class="nav-item" ngbDropdown [ngClass]="{ 'active': medicalHistory.isActive }">
          <a routerLink="/medical-history" routerLinkActive="active" #medicalHistory="routerLinkActive" class="nav-link"><fa-icon [icon]="['fas', 'book-medical']"></fa-icon>&nbsp; Medical History</a>
        </li>
        <li class="nav-item" ngbDropdown [ngClass]="{ 'active': labs.isActive }">
          <a routerLink="/labs" routerLinkActive="active" #labs="routerLinkActive" class="nav-link"><fa-icon [icon]="['fas', 'heart-pulse']"></fa-icon>&nbsp; Labs</a>
        </li>
        <li class="nav-item" ngbDropdown [ngClass]="{ 'active': sources.isActive }">
          <a routerLink="/sources" routerLinkActive="active" #sources="routerLinkActive" class="nav-link"><fa-icon [icon]="['fas', 'hospital']"></fa-icon>&nbsp; Sources</a>
        </li>
      </ul>
    </div><!-- az-header-menu -->
  </div><!-- container -->
</div><!-- az-header -->
