<header class="bg-base-100 shadow">
  <div class="navbar container mx-auto px-4">
    <div class="flex-1">
      <a routerLink="/" class="btn btn-ghost normal-case text-xl font-bold lowercase">fasten</a>
    </div>
    <div class="flex-none">
      <ul class="menu menu-horizontal px-1 gap-2">
        <li>
          <a routerLink="/catalog/editor" routerLinkActive="active" class="flex items-center gap-2">
            <fa-icon [icon]="['fas', 'file-edit']"></fa-icon>
            <span>Editor</span>
          </a>
        </li>
        <li>
          <a class="flex items-center gap-2" href="https://github.com/fastenhealth/fasten-onprem" target="_blank" rel="noopener noreferrer">
            <fa-icon [icon]="['fas', 'code-branch']"></fa-icon>
            <span>Github</span>
          </a>
        </li>
        <li>
          <a class="flex items-center gap-2" href="https://app.fastenhealth.com/" target="_blank" rel="noopener noreferrer">
            <fa-icon [icon]="['fas', 'envelope']"></fa-icon>
            <span>Waitlist</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</header>
