<div class="container">
  <div class="az-content-body pd-lg-l-40 d-flex flex-column">

    <div class="alert alert-info" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">×</span>
      </button>
      <strong>Export Records Utility - Complete</strong>
      <br/>
      This tool is intended for use during the <a href="https://confluence.hl7.org/display/FHIR/2023+-+01+Patient+Track">FHIR Connectathon</a> in Jan 2023. <br/>
      It allows patients/users to export their electronic medical records from their healthcare providers, in FHIR format.<br/>
      <br/>
      You have completed the authorization process. Please wait while we process your records and attempt to collect them.
      One complete (and if no errors occurred) you will be able to download your records in FHIR format.<br/>
      <br/>
      <br/>
      <strong>Please note:</strong><br/>
      - Your data is cached for 24h, this tool is effectively state-less. If you refresh the page, you may need to reauthenticate with your provider.<br/>
      - The export may take a while to process (5+minutes), if you have a long history with that provider.<br/>
      - Some sources may not be working correctly.<br/>
      <br/>

      <strong>
        This toolbox showcases functionality from <a href="https://fastenhealth.com">Fasten Health</a> - an interoperability platform
        that allows patients to share their medical records with organizations that they trust.
      </strong>
      <br/><br/>
      If your healthcare provider is missing or broken, please <a href="https://github.com/fastenhealth/docs/issues">file a ticket <i class="fab fa-github"></i></a>

    </div>


    <div *ngIf="hasError" class="d-flex justify-content-center mg-t-40">
      <h1>Sorry, an error occurred.</h1>
      <p>We're working on fixing it now.</p>
      <p>Need more help? Send an email to <a href="mailto:support@fastenhealth.com">support@fastenhealth.com</a> and include the information below:</p>
      <div class="error-details">
        <pre><code>
          {{ errorMsg }}
        </code></pre>
      </div>
    </div>

    <div *ngIf="loading" class="d-flex justify-content-center mg-t-40">
      <h1>Loading...</h1>
      <p>Please wait while we process your records.</p>
    </div>


    <div *ngIf="hasBundle" class="d-flex justify-content-center mg-t-40">
      <pre class="card" style="max-height:300px">
        <code [languages]="['json', 'xml']" [highlight]="bundle"></code>
      </pre>
      <a [href]="generateBundleDownloadUrl" [download]="generateBundleDownloadFilename" class="btn btn-indigo btn-rounded">Download FHIR JSON File</a>

    </div>



  </div>
</div>
