<div class="az-content">
  <div class="">
    <div class="az-content-body pd-lg-l-40 d-flex flex-column">
      <div class="az-content-breadcrumb">
        <span>Fasten Sources Editor</span>
      </div>

      <div class="alert alert-info" role="alert">
        <strong>Submit Corrections!</strong>
        <br/>
        This tool allows Fasten users to contribute changes & fixes to the Fasten Health sources list.<br/>
        <br/>
        When you click on a provider in the list below, you will be shown a form where you can edit the provider's details. <br/>
        <strong>These changes will not be applied until they are reviewed by a Fasten Health administrator.</strong><br/>
      </div>

      <ng-container *ngIf="!loading || brandsList.length > 0 else isLoadingTemplate">
        <!-- Search -->
        <div class="row row-sm sticky-top pt-2" style="position:sticky;">
          <div class="col-lg-8">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="search-prefix">Search</span>
              </div>
              <input [ngModel]="searchTermUpdate | async" (keyup)="searchTermUpdate.next($event.target.value)" type="text" class="form-control" placeholder="Search Term">
              <div class="input-group-append">
                <select [(ngModel)]="searchFilter.locations[0]" (ngModelChange)="resetSearch()" class="w-full flex items-center justify-between px-3 py-2 text-sm border rounded-md bg-white hover:bg-gray-50">
                  <option value="ALL" selected>All States</option>
                  <option disabled>-------</option>
                  <option *ngFor="let item of stateCodes | keyvalue"  [value]="item.value">{{ item.key }}</option>
                </select>
              </div>
              <div class="input-group-append">
                <select [(ngModel)]="searchFilter.platformTypes[0]" (ngModelChange)="resetSearch()" class="w-full flex items-center justify-between px-3 py-2 text-sm border rounded-md bg-white hover:bg-gray-50">
                  <option value="" selected>All Platforms</option>
                  <option disabled>-------</option>
                  <option *ngFor="let item of platformTypes"  [value]="item.value">{{ item.key }}</option>
                </select>
              </div>
            </div><!-- input-group -->
          </div><!-- col -->
        </div>

        <div
          infiniteScroll
          [infiniteScrollDistance]="3"
          [infiniteScrollThrottle]="50"
          (scrolled)="onScroll()"
          >
          <hot-table
            [settings]="settings"
            [data]="brandsList"
            [colHeaders]="true"
            [rowHeaders]="true"
            licenseKey="non-commercial-and-evaluation">
            <hot-column data="id" [readOnly]="true" title="ID"></hot-column>
            <hot-column data="name" [readOnly]="true" title="Institution Name"></hot-column>
            <hot-column data="id" [readOnly]="true" title="Logo" [renderer]="imageRender"></hot-column>
    <!--        <hot-column type="autocomplete" title="NPI" [source]="npiTypeahead" width="300px"></hot-column>-->
    <!--        <hot-column data="logo" [readOnly]="true" title="Logo Override"></hot-column>-->
            <hot-column data="aliases" [readOnly]="true" title="Aliases" [renderer]="listRender"></hot-column>
            <hot-column data="platform_type" [readOnly]="true" title="Platform Type" [renderer]="listRender"></hot-column>
    <!--        <hot-column data="category" [readOnly]="true" title="Category Tags"></hot-column>-->
            <hot-column data="brand_website" [readOnly]="true" title="Homepage"></hot-column>
            <hot-column data="patient_access_description" [readOnly]="true" title="Description"></hot-column>



          </hot-table>
        </div>



      </ng-container>
    </div><!-- az-content-body -->
  </div><!-- container -->
</div><!-- az-content -->


<ng-template #editor let-modal>
  <div class="modal-header">
    <h6 class="modal-title">Source Editor - {{selectedBrandForEditor.name}} </h6>
    <button type="button" class="btn close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">×</span>
    </button>

  </div>

  <div class="modal-body">
    <div class="alert alert-info" role="alert">
      <h6>Modify Institution Information</h6>
      <p>You can use this form to edit the information for this institution. <br/>
      When you are done, click "Submit" to send your changes to the Fasten Health administrators for review.
      </p>
    </div>
<!--    {{brandEditorForm.getRawValue() | json}}-->

    <ng-container [formGroup]="brandEditorForm">

      <div class="row">

        <div class="col-6">
          <div class="form-group">
            <label class="az-content-label tx-11 tx-medium tx-gray-600">Institution <span class="text-danger">*</span></label>
            <div class="input-group">
              <input type="text" class="form-control" formControlName="name" required [ngClass]="{'bd-callout-warning': brandEditorForm.get('name').dirty}" >
            </div>
          </div>
        </div>

        <div class="col-6">
          <div class="form-group">
            <label class="az-content-label tx-11 tx-medium tx-gray-600">Homepage</label>

            <div class="input-group">
              <input type="text" class="form-control" formControlName="brand_website" [ngClass]="{'bd-callout-warning': brandEditorForm.get('brand_website').dirty}">
            </div>
          </div>
        </div>

      </div>

      <div class="row">
        <div class="col-3 d-flex align-items-center justify-content-center">
          <img style="max-width: 100px" imageFallback class="img-fluid" alt="Responsive image"
          [src]="logo_website || logo_file_data_url || logo_brand_id">
        </div>
        <div class="col-9">
          <div class="form-group">
            <label class="az-content-label tx-11 tx-medium tx-gray-600">Logo Link</label>

            <div class="input-group">
              <input type="text" class="form-control" formControlName="logo_website" [ngClass]="{'bd-callout-warning': brandEditorForm.get('logo_website').dirty}">
            </div>
          </div>
          <div class="form-group">
            <label class="az-content-label tx-11 tx-medium tx-gray-600">Logo Upload</label>

            <div class="input-group" formControlName="logo_file">
              <div class="custom-file">
                <input type="file" class="custom-file-input" id="customFile" (change)="addLogoFile($event)" formControlName="file_name" accept=".jpg, .png, .jpeg, .gif, .bmp, .tif, .tiff|image/*">
                <label class="custom-file-label" for="customFile" [ngClass]="{'bd-callout-warning': !!this.logo_file?.get('file_name')?.value}">{{ this.logo_file?.get('file_name')?.value || 'Choose file' }}</label>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-6 col-xs-12">
          <div class="form-group">
            <label class="az-content-label tx-11 tx-medium tx-gray-600">Aliases</label>
            <ul class="list-group">
              <li class="list-group-item" *ngFor="let alias of selectedBrandForEditor?.aliases">{{alias}}</li>
              <ng-container formArrayName="aliases">
                <li class="list-group-item bd-callout-warning" [formGroup]="aliasGroup" *ngFor="let aliasGroup of aliases.controls; let i = index">{{aliasGroup.getRawValue()['alias']}}</li>
              </ng-container>
              <li class="list-group-item">
                <div class="input-group">
                  <input #newAlias (keyup.enter)="addAlias(newAlias)" type="text" class="form-control" placeholder="Add alternative name for institution">
                  <span class="input-group-btn">
                  <button (click)="addAlias(newAlias)" class="btn btn-primary" type="button"><i class="fa fa-plus"></i></button>
                </span>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-6 col-xs-12">
          <div class="form-group">
            <label class="az-content-label tx-11 tx-medium tx-gray-600">NPI Numbers <a class="mg-l-2 small" target="_blank" href="https://npiregistry.cms.hhs.gov/search">[search]</a></label>
            <ul class="list-group">
              <li class="list-group-item" *ngFor="let npiNumber of (selectedBrandForEditor?.identifiers?.['http://hl7.org/fhir/sid/us-npi'] || [])">{{npiNumber}}</li>
              <ng-container formArrayName="npi_numbers">
                <li class="list-group-item bd-callout-warning" [formGroup]="npiNumberGroup" *ngFor="let npiNumberGroup of npi_numbers.controls; let i = index">{{npiNumberGroup.getRawValue()['npi']}}</li>
              </ng-container>
              <li class="list-group-item">
                <div class="input-group">
                  <input #newNpiNumber (keyup.enter)="addNpiNumber(newNpiNumber)" type="text" class="form-control" placeholder="Add NPI number for institution">
                  <span class="input-group-btn">
                  <button (click)="addNpiNumber(newNpiNumber)" class="btn btn-primary" type="button"><i class="fa fa-plus"></i></button>
                </span>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <ng-container *ngFor="let portals of selectedBrandForEditor?.portals">
        <ng-container *ngFor="let endpoint of portals.endpoints">

          <ng-template #popTitle>{{portals.name}}</ng-template>
          <ng-template #popContent>
            <code class="cursor-pointer" (click)="copyClipboard($event, portals.name, endpoint.id, portals.id, selectedBrandForEditor.id)">
              <pre>
endpoint: {{endpoint.id}}
portal: {{portals.id}}
brand: {{selectedBrandForEditor.id}}
              </pre>
            </code>
          </ng-template>
          <span class="badge badge-primary mr-1 cursor-pointer" [ngbPopover]="popContent" [popoverTitle]="popTitle">{{endpoint.platform_type}}</span>
        </ng-container>
      </ng-container>

      <div class="alert alert-warning mt-4" role="alert">
        <h6 class="mb-2">Submission details</h6>
        <p class="mb-3">Your email address and note are never shared publicly and can only be viewed by Fasten administrators.</p>
        <div class="form-row">
          <div class="form-group col-12 col-md-6">
            <label class="az-content-label tx-11 tx-medium tx-gray-600" for="submitterEmail">Your email</label>
            <input
              id="submitterEmail"
              type="email"
              class="form-control"
              formControlName="submitter_email"
              placeholder="you@example.com"
              [ngClass]="{'bd-callout-warning': brandEditorForm.get('submitter_email').dirty}"
            >
            <small class="form-text text-muted">Only Fasten administrators can access this contact information.</small>
            <small class="text-danger" *ngIf="brandEditorForm.get('submitter_email').invalid && brandEditorForm.get('submitter_email').dirty">Please enter a valid email address.</small>
          </div>
          <div class="form-group col-12">
            <label class="az-content-label tx-11 tx-medium tx-gray-600" for="submitterPrivateNote">Private note</label>
            <textarea
              id="submitterPrivateNote"
              class="form-control"
              rows="4"
              formControlName="submitter_private_note"
              placeholder="Add any context you'd like the Fasten team to see"
              [ngClass]="{'bd-callout-warning': brandEditorForm.get('submitter_private_note').dirty}"
            ></textarea>
            <small class="form-text text-muted">We keep this note private and only Fasten administrators can view it.</small>
          </div>
        </div>
      </div>


    </ng-container>


  </div>

    <div class="modal-footer">

      <button (click)="resetEditorForm(selectedBrandForEditor)" type="button" class="btn btn-outline-light float-left">Reset</button>

      <button (click)="modal.dismiss('Close click')" type="button" class="btn btn-outline-light">Close</button>
      <button *ngIf="!loading_submit; else spinnerButton" type="button" [class.disabled]="!submitEnabled" class="btn btn-az-primary" (click)="submit()">Submit Changes</button>
      <ng-template #spinnerButton>
        <button class="btn btn-primary" type="button" disabled>
          <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
          <span class="sr-only">Loading...</span>
        </button>
      </ng-template>
    </div>
</ng-template>

<ng-template #isLoadingTemplate>
  <div class="row">
    <div class="col-12">
      <app-loading-spinner [loadingTitle]="'Please wait, loading sources...'"></app-loading-spinner>
    </div>
  </div>
</ng-template>
