<div class="container">
  <div class="az-content-body pd-lg-l-40 d-flex flex-column">

    <div class="alert alert-info" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">×</span>
      </button>
      <strong>Export Records Utility</strong>
      <br/>
      This tool is intended for use during the <a href="https://confluence.hl7.org/display/FHIR/2023+-+01+Patient+Track">FHIR Connectathon</a> in Jan 2023. <br/>
      It allows patients/users to export their electronic medical records from their healthcare providers, in FHIR format.<br/>
      <br/>
      To start, click the "Export Records" button below and search for your health system by name.
      After clicking on your health system, you will need to select a patient portal associated with their organization, then you will be redirected to their login page. After authorization, you'll be redirected back to
      this Fasten toolbox, where you will be able to see and export your FHIR bundle.
      <br/>
      <br/>
      <strong>Please note:</strong><br/>
      - Your data is cached for 24h, this tool is effectively state-less. If you refresh the page, you may need to reauthenticate with your provider.<br/>
      - The export may take a while to process (5+minutes), if you have a long history with that provider.<br/>
      - Some sources may not be working correctly.<br/>
      <br/>

      <strong>
        This toolbox showcases functionality from <a href="https://fastenhealth.com">Fasten Health</a> - an interoperability platform
        that allows patients to share their medical records with organizations that they trust.
      </strong>
      <br/><br/>
      If your healthcare provider is missing or broken, please <a href="https://github.com/fastenhealth/docs/issues">file a ticket <i class="fab fa-github"></i></a>

    </div>

  </div>


  <div class="d-flex justify-content-center mg-t-40">

    <fasten-stitch-element
      #stitchElement
      external-id="user-opaque-id-12812904h31"
      public-id="public_live_2rzrytsspr29g36o7fgbyo7k28ds4uyqbot3h0k80p0bm"
    ></fasten-stitch-element>

  </div>
</div>




